## Midterm test and practice session

### 1. Questions.
Please, answer the following questions briefly. Two or three sentences with main idea would be enough.

Do not use external resourses in this part, please. Answer with you own words. If you forgot something, don't worry, we will discuss it later.

#### 1.0. 
Please, formulate the supervised learning problem statement.

_Your answer here_

#### 1.1.

What are regression and classification problems. Whatâ€™s the difference?

_Your answer here_

#### 1.2.
Write down the linear model for regression problem in matrix notation. What is Mean Squared Error (MSE) loss function? How can it be expressed?

_Your answer here_

#### 1.3.
What is the gradient of a function? How is it being used in optimization?

_Your answer here_

#### 1.4.
Write down gradient descent step for linear model and MSE for one-dimensional case.

_Your answer here_

#### 1.5.
What is validation? Cross validation?

_Your answer here_

#### 1.6.
What is regularization? How does L1 regularization differ from L2 for linear models?

_Your answer here_

#### 1.7.
What are precision and recall metrics?

_Your answer here_

#### 1.8.
What is bagging? What is the main idea beneath it?

_Your answer here_

### 2. Tackling Machine Learning problems in the wild
Now you will work with real data in classification problem. Your goal it to solve (with some quality) and make some conclusions. It's quite similar to the `assignment0_02`. 

You may use external resources here.

#### 2.0 Reading the data
Today we work with the [dataset](https://archive.ics.uci.edu/ml/datasets/Statlog+%28Vehicle+Silhouettes%29), describing different cars for multiclass ($k=4$) classification problem. The data is available below.

In [ ]:
# If on colab, uncomment the following lines

# !wget https://raw.githubusercontent.com/neychev/harbour_ml2020/master/assignments/assignment_Midterm/car_data.csv

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

dataset = pd.read_csv('car_data.csv', delimiter=',', header=None).values
data = dataset[:, :-1].astype(int)
target = dataset[:, -1]

print(data.shape, target.shape)

X_train, X_test, y_train, y_test = train_test_split(data, target, test_size=0.35)
print(X_train.shape, y_train.shape, X_test.shape, y_test.shape)

(846, 19) (846,)
(549, 19) (549,) (297, 19) (297,)

To get some insights about the dataset, `pandas` might be used. The `train` part is transformed to `pd.DataFrame` below.

In [10]:
X_train_pd = pd.DataFrame(X_train)

# First 15 rows of our dataset.
X_train_pd.head(15)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,494,106,54,105,164,48,5,247,27,27,165,269,891,243,84,12,1,181,182
1,317,95,45,105,208,64,10,187,36,22,150,202,520,158,64,7,32,198,211
2,701,108,49,103,200,62,10,206,32,23,155,227,635,215,72,6,16,189,198
3,515,76,38,58,125,58,5,133,51,18,127,152,259,145,87,0,21,177,184
4,543,96,37,74,187,68,8,159,42,20,134,183,378,134,69,3,16,190,197
5,179,89,44,70,137,58,6,136,49,18,146,168,273,166,78,10,3,186,187
6,423,85,45,70,120,54,7,149,45,19,145,169,326,186,81,8,4,181,184
7,16,89,36,51,109,52,6,118,57,17,129,137,206,125,80,2,14,181,185
8,349,89,40,69,147,58,6,132,50,18,137,155,260,151,61,16,6,203,209
9,316,91,41,66,131,56,9,126,53,18,144,159,237,155,72,3,10,191,194
10,778,111,50,103,199,60,11,211,31,24,156,223,663,188,68,9,9,190,200
11,274,107,57,106,179,51,8,257,26,28,172,275,954,232,83,2,20,181,184
12,43,93,37,76,183,63,8,164,40,20,134,191,405,139,67,4,7,192,197
13,206,92,46,79,176,64,8,162,41,20,149,183,396,178,67,2,10,191,198
14,595,89,50,83,195,65,6,178,37,21,156,207,481,210,71,1,6,189,194

Methods `describe` and `info` deliver some useful information.

In [3]:
X_train_pd.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
count,549.000000,549.000000,549.000000,549.000000,549.000000,549.000000,549.000000,549.000000,549.000000,549.000000,549.000000,549.000000,549.000000,549.000000,549.000000,549.000000,549.000000,549.000000,549.000000
mean,431.415301,93.626594,44.686703,81.912568,169.384335,61.781421,8.506375,168.402550,40.979964,20.546448,147.637523,188.085610,437.526412,173.486339,71.941712,6.275046,12.841530,189.275046,196.140255
std,248.783681,8.302718,6.271549,15.338861,32.913454,7.520018,4.232139,32.998066,7.698561,2.582954,14.711636,30.950307,175.509794,33.324033,7.063081,4.913015,9.022803,6.258347,7.362635
min,0.000000,76.000000,33.000000,44.000000,104.000000,47.000000,2.000000,114.000000,26.000000,17.000000,118.000000,134.000000,193.000000,109.000000,59.000000,0.000000,0.000000,176.000000,181.000000
25%,209.000000,87.000000,40.000000,70.000000,142.000000,57.000000,7.000000,146.000000,34.000000,19.000000,136.000000,167.000000,318.000000,148.000000,67.000000,2.000000,6.000000,185.000000,191.000000
50%,441.000000,92.000000,44.000000,79.000000,166.000000,61.000000,8.000000,157.000000,43.000000,20.000000,145.000000,177.000000,363.000000,172.000000,71.000000,5.000000,11.000000,189.000000,197.000000
75%,639.000000,100.000000,49.000000,96.000000,195.000000,65.000000,10.000000,196.000000,46.000000,23.000000,159.000000,216.000000,575.000000,198.000000,75.000000,9.000000,19.000000,194.000000,201.000000
max,845.000000,119.000000,59.000000,110.000000,322.000000,133.000000,55.000000,262.000000,59.000000,28.000000,188.000000,288.000000,998.000000,268.000000,119.000000,22.000000,41.000000,206.000000,211.000000

In [12]:
np.unique(y_train)

array(['bus', 'opel', 'saab', 'van'], dtype=object)

In [5]:
X_train_pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 549 entries, 0 to 548
Data columns (total 19 columns):
0     549 non-null int64
1     549 non-null int64
2     549 non-null int64
3     549 non-null int64
4     549 non-null int64
5     549 non-null int64
6     549 non-null int64
7     549 non-null int64
8     549 non-null int64
9     549 non-null int64
10    549 non-null int64
11    549 non-null int64
12    549 non-null int64
13    549 non-null int64
14    549 non-null int64
15    549 non-null int64
16    549 non-null int64
17    549 non-null int64
18    549 non-null int64
dtypes: int64(19)
memory usage: 81.6 KB

#### 2.1. Data preprocessing
* Make some transformations of the dataset (if necessary). Briefly explain the transformations

In [4]:
from sklearn.preprocessing import StandardScaler

In [6]:
### YOUR CODE HERE

#### 2.2. PCA: explained variance plot
* Apply the PCA to the train part of the data. Build the explaided variance plot (like in assignment 2).

In [13]:
from sklearn.decomposition import PCA

### YOUR CODE HERE

#### 2.3. PCA trasformation
* Select the appropriate number of components. Use `fit` and `transform` methods to transform the `train` and `test` parts.

In [164]:
### YOUR CODE HERE

#### 2.4. Logistic regression
* Find the optimal hyperparameters for logistic regression using cross-validation (e.g. `GridSearchCV`). You can vary only a parameter for `l2` regularization (e.g 5 different values).

* Then build a ROC curve for this classifier (`sklearn.metrics.roc_curve`). Estimate the model quality with appropriate metrics (which will you use?)

_Note: be careful with preprocessing (like scaling/PCA) to avoid data leaks._

In [9]:
from sklearn.linear_model import LogisticRegression

### YOUR CODE HERE

#### 2.5. Decision tree
* Now train a desicion tree on the same data. Find optimal tree depth (`max_depth`) using cross-validation (again, checking 5 variants would be fine).

* Measure the model quality using the same metrics you used above.

In [13]:
from sklearn.tree import DecisionTreeClassifier

# YOUR CODE HERE

#### 2.6. Random Forest
Now we will work with the Random Forest (its `sklearn` implementation).

* Vary the number of trees (from 5 to 50 with step 5) and build the plot in axes "model accuracy" - "number of trees".

* What is the optimal number of trees you've got?

In [173]:
from sklearn.ensemble import RandomForestClassifier

# YOUR CODE HERE

#### 2.7. Bonus part: "learning curve"
* Split the training data into 10 equal (almost) parts. Then train the models from above (Logistic regression, Desicion Tree, Random Forest) with optimal hyperparameters you have selected on 1 part, 2 parts (combined, so the train size in increased by 2 times), 3 parts and so on.

* Build a plot of accuracy and f1-score (on `test` part) varying the `train` dataset size (so the axes will be metric - dataset size.

* Analyse the final plot. Can you make any conlusions using it?

In [ ]:
# YOUR CODE HERE